<h2>Defining protein complexes</h2>
A WIKI:Multiprotein_complex consists of several protein objects. 
They are used to superimpose two proteins consisting of several chains in Strap such as PDB:1scg and PDB:1a0r. 
Proceed as follows: <ol>
<li>Open the script panel with the menu menu-bar&gt;file&gt;tools.</li>
<li>Form a script line with the command "define_protein_complex" and the protein names to be bundled as a complex.</li>
<li>Run this script line.</li>
</ol>
Note: Take advantage of tab-key word completion in the script panel.
