
.proteinLink { background-color:  white; color: blue;}
img.proteinIcon img.proteinIconNull {  border: 0;  margin: 0; padding: 0;  vertical-align: bottom; overflow: visible; }
img.proteinIconNull { height: 0.5mm; }

.plusMinus { background-color: #FFffFF;   border: 1px solid #000000; margin: 0; padding: 0; font-family: fixed,monospace,monosize; } 

PRE.ftr{
         margin:0;
         line-height: 10%;
         font-weight: bolder;
         overflow: hidden;
         background-color: transparent;      
         }      

PRE { font-family: monospace, monosize, courier, fixed; }
A.aPlain { 
   line-height: 15%;
           text-decoration:none; background-color: transparent; border: none; margin:0; 
           overflow: hidden;
           } 

FONT:hover { color: blue;}

PRE.seq{
         margin-top: 0mm;
         margin-bottom: -0.4mm;      
         }



@media print { .NOPRINT { display: none;  color: white;  }  }

PRE.secStru{ 
             margin:0; margin-bottom: 1px; line-height: 50%; padding: 0em; overflow: hidden;
             }


.hCONSENSUS{         
             color: rgba(0,0,0,0.0);            
             background: #FFAABB url('http://www.bioinformatics.org/strap/dataFiles/scriptExamples/helix40.gif');   
             background-repeat: repeat-x; 
             background-size: auto 0.5em; 
            /* background-size: contained;*/
             background-attachment: fixed;
             background-position: 0em  0em;
             
             }
.eCONSENSUS {         
             color: rgba(0,0,0,0.0);                                 
             background-color: #BBBB00; 
             background-image: -webkit-repeating-linear-gradient(-80deg, yellow 0, gray 10pt); 
             background-image: -moz-repeating-linear-gradient(-80deg, yellow 0, gray 10pt); 
             background-image: -o-repeating-linear-gradient(-80deg, yellow 0, gray 10pt);
             }

.hCONSENSUS:hover .eCONSENSUS:hover{   color: black;}


.inputSeqPattern { font-family: fixed,monospace,monosize; } 


