<div id="3D_ALID_HIDDEN">
  <script>writeToggleDiv('3D_HELP');</script> Help<br>
  
  <div id="3D_HELP" style="display: none;">
    A new browser window with a 3D Java Applet is opened.
    The PDB file is loaded from the PDB site.
    Warning: Applets can harm the current browser session.
    Mouse actions: 
    <ol>
      <li>Click amino acid in alignment pane focuses and selects the residue in the 3D view</li>
      <li>Shift+Click only select, but not focus</li>
    </ol>
  </div>
  <script>write3dButtons(ALID);</script>
</div>
