<div class="NOPRINT">
  <font size="1">
    <a href="javascript:toWord('alignment_ALID', null);">To Word</a> &nbsp; &nbsp;
    <script> 
      writeJavaWS('ALID','jalview'); document.write('&nbsp; &nbsp;'); 
      writeJavaWS('ALID'); document.write('&nbsp; &nbsp;'); 
      writeToggleDiv('OPTIONS_ALID');
    </script>More ...
  </font>
  <div id="OPTIONS_ALID" style="border: 1px solid gray; margin-left: 3em; display: none;">
    <script>    
      var hide='ABOUT_ALID_HIDDEN SEARCH_ALID_HIDDEN VIEW_ALID_HIDDEN REARRANGE_ALID_HIDDEN  EXPORT_ALID_HIDDEN 3D_ALID_HIDDEN ';
      writeToggleDiv('REARRANGE_ALID_HIDDEN', hide);  document.write('Rearrange &nbsp; &nbsp;');
      writeToggleDiv('VIEW_ALID_HIDDEN',      hide);  document.write('View      &nbsp; &nbsp;');
      if (_has3d) { writeToggleDiv('3D_ALID_HIDDEN',       hide);  document.write('3D        &nbsp; &nbsp;'); }
      writeToggleDiv('SEARCH_ALID_HIDDEN',    hide);  document.write('Search    &nbsp; &nbsp;');
      writeToggleDiv('EXPORT_ALID_HIDDEN',    hide);  document.write('Export    &nbsp; &nbsp;');
      writeToggleDiv('ABOUT_ALID_HIDDEN',     hide);  document.write('About     &nbsp; &nbsp;');
    </script>
    
    <a href="http://www.bioinformatics.org/strap/toHTML/help.html"><img src="http://www.bioinformatics.org/strap/images/help.png" alt="Help"/></a>
    <br><br>    
    
    toHTML3D.html
    <div id="EXPORT_ALID_HIDDEN">
      <br><u>Export to Word Processor</u> &nbsp;&nbsp;&nbsp;
      <font size="2">
        <script> 
          var hide='RADIO_ALID_UNIX RADIO_ALID_WINDOWS RADIO_ALID_OSX ';
          writeToggleDiv('RADIO_ALID_UNIX',   hide);  document.write('Linux / Unix  &nbsp; &nbsp;');
          writeToggleDiv('RADIO_ALID_WINDOWS',hide);  document.write('Windows &nbsp; &nbsp;');
          writeToggleDiv('RADIO_ALID_OSX',    hide);  document.write('Mac OSX &nbsp; &nbsp;');
        </script>
      </font>
      
      <div id="RADIO_ALID_UNIX" style="font-size: small;">
        <ol>    
          <li>Install the program gwrite.</li>
          <li>Click  <a href="javascript:toWord('alignment_ALID', null);">To Gwrite</a></li>
          <li>You will be asked for a software application to open the document. Say '/usr/bin/gwrite'.</li>
        </ol>
      </div>
      
      <div id="RADIO_ALID_WINDOWS"> Click <a href="javascript:toWord('alignment_ALID', 'Application/msword');">To Word</a> </div>
      
      <div id="RADIO_ALID_OSX"> For Macintosh
        Click the following link:
        <a href="javascript:toWord('alignment_ALID', 'Application/msword);">To Word Processor</a>
        You will be asked what application you want to open the document with.
        Say MS-word or  any Wysiwyg html editor like kompozer.
      </div>
      
      <!--- <a href="javascript:neuesBrowserFenster('alignment_ALID');">New browser window</a> &nbsp; &nbsp; -->
      
      <br><u>Java-based:</u> &nbsp; &nbsp;
      <script>       
        writeJavaWS('ALID');           document.writeln('&nbsp; &nbsp;'); 
        writeJavaWS('ALID','jalview'); document.writeln('&nbsp; &nbsp;'); 
        writeJavaWS('ALID','tree');
      </script> &nbsp; &nbsp;
      <br>
    </div>
    
    <div id="VIEW_ALID_HIDDEN">
      <table style=" border: 0;" summary="Format">      
        <tr>
          <th align="right">Sequence line Font:</th>
          <td>          
            <input type="button" onClick="changeFontSize(5);"  value="&uarr;&uarr;" >
            <input type="button" onClick="changeFontSize(1);"  value="&uarr;" >
            <input type="button" onClick="changeFontSize(0);"  value="=" >
            <input type="button" onClick="changeFontSize(-1);" value="&darr;" >
            <input type="button" onClick="changeFontSize(-5);" value="&darr;&darr;" >
            Top margin:
            <input type="button" onClick="changeMarginTopSeq(0.1);"   value="&uarr;&uarr;" >
            <input type="button" onClick="changeMarginTopSeq(0.02);"  value="&uarr;" >
            <input type="button" onClick="changeMarginTopSeq(0);"     value="=" >
            <input type="button" onClick="changeMarginTopSeq(-0.02);" value="&darr;" >
            <input type="button" onClick="changeMarginTopSeq(-0.1);"  value="&darr;&darr;" >
            Bottom margin:
            <input type="button" onClick="changeMarginBottomSeq(0.1);"   value="&uarr;&uarr;" >
            <input type="button" onClick="changeMarginBottomSeq(0.02);"  value="&uarr;" >
            <input type="button" onClick="changeMarginBottomSeq(0);"     value="=" >
            <input type="button" onClick="changeMarginBottomSeq(-0.02);" value="&darr;" >
            <input type="button" onClick="changeMarginBottomSeq(-0.1);"  value="&darr;&darr;" >
          </td>
          
        </tr>
        <tr>
          <th align="right">Residue underlining:</th>
          <td>
            <input type="button" onClick="changeHeightFtr(5);"  value="&uarr;&uarr;" >
            <input type="button" onClick="changeHeightFtr(1);"  value="&uarr;" >                
            <input type="button" onClick="changeHeightFtr(0);"  value="=" >
            <input type="button" onClick="changeHeightFtr(-1);" value="&darr;" >
            <input type="button" onClick="changeHeightFtr(-5);" value="&darr;&darr;" >
            <input type="button" onClick="colorizeFtr(0);"      value="Fill with color" > (Before copying to text processor)
            <input type="button" onClick="colorizeFtr(1);"      value="No fill" >
          </td>
        </tr>
        
        <tr>
          <th align="right">Secondary structure:</th>
          <td>
            <input type="button" onClick="changeSecStruHeight(20);"  value="&uarr;&uarr;" >
            <input type="button" onClick="changeSecStruHeight(2);"   value="&uarr;" >
            <input type="button" onClick="changeSecStruHeight(0);"   value="=" >
            <input type="button" onClick="changeSecStruHeight(-2);"  value="&darr;" >
            <input type="button" onClick="changeSecStruHeight(-20);" value="&darr;&darr;" ></td>
        </tr>
        
        <tr>
          <th align="right">Protein Icons:</th>
          <td>         
            <input type="button" onClick="changeProteinIconWidth(0.1);"   value="&uarr;&uarr;" >
            <input type="button" onClick="changeProteinIconWidth(0.02);"  value="&uarr;" >
            <input type="button" onClick="changeProteinIconWidth(0);"     value="=" >
            <input type="button" onClick="changeProteinIconWidth(-0.02);" value="&darr;" >
            <input type="button" onClick="changeProteinIconWidth(-0.1);"  value="&darr;&darr;" >
            <input type="button" onClick="rmProtImg(this);"               value="Remove all" >
          </td>
        </tr>
      </table>
    </div> <!-- FORMAT -->
    
    
    <div id="REARRANGE_ALID_HIDDEN">
      <script>writeSort(ALID);</script>    
      <sup>Click &darr; or &uarr to move a sequence up or down. Hit ENTER to move the same sequence further.</sup>          
    </div> <!-- HIDE_SEQUENCES -->
    
    <div id="SEARCH_ALID_HIDDEN">
      <script>
        inputSeqPattern(0);  
        writeToggleDiv('SEARCH_MORE_ALID_HIDDEN', 'SEARCH_HELP_ALID_HIDDEN'); document.write('More rows &nbsp; ');
        writeToggleDiv('SEARCH_HELP_ALID_HIDDEN', 'SEARCH_MORE_ALID_HIDDEN'); document.write('Help &nbsp; ');
      </script>
      
      <div id="SEARCH_MORE_ALID_HIDDEN" style="display: none;">
        <script>inputSeqPattern(1); inputSeqPattern(2); inputSeqPattern(3)</script>
        <br>
      </div>
      <br>
      <div id="SEARCH_HELP_ALID_HIDDEN" style="display: none;">
        <br>
        Sequence patterns entered into the text field will be highlighted below the alignment block.
        In larg alignments, the sequence match may be not in the current view. 
        To walk to the next match search for the ^-sign (roof, circumflex). 
        <br><br>
        More than one space separated sequence pattern can be entered into one text field.
        <br><b>Regular expressions: </b>
        <ul>
          <li>A dot matches any letters. For example "K.V" matches Lysine-Any-Valine </li>
          <li>Alternative letters are included in square brackets: "K[AG]V" means Lysine-(Alanin or Glycine)-Valine</li>
        </ul>
        <br>
      </div>      
    </div> <!-- SEARCH -->
    
    <div id="ABOUT_ALID_HIDDEN" style=" background-color: #AAaaFF; border: solid #0000ff;">
      <b>About:</b>
      <div  style=" margin-left: 3em; ">
        This alignment view has been generated with the program <a href="http://www.bioinformatics.org/strap/">Strap</a>.<br>
        The script text used for this alignment:
        <input type="button" onClick="showScriptText(ALID);" value="Show script text"/><br>
      </div>
      
      
      
      <b>License:</b> 
      <div style=" margin-left: 3em; ">      
        
        You can use Strap's alignment export for free in applications
        and web sites.  You can modify the html code, but the text and
        the links in this text box must not be removed or changed.
        
        If you use parts of this software in other programs, then each web page with exported alignments
        should contain a web link to http://www.bioinformatics.org/strap/. Thanks!
      </div>    
      
      <b>Bugs:</b> 
      <div  style=" margin-left: 3em; ">
        Send problems and suggestions to Christoph Gille, the Author of <a href="http://3d-alignment.eu/">Strap</a>.
      </div>
      
      <a href="javascript:test1(ALID);" style="font-size: 40%;">*1</a>
    </div> <!-- ABOUT -->
  </div> <!-- OPTIONS -->
</div><!--- NOPRINT -->


