<h1>Apple Macintosh</h1>

<h2>Context menus</h2>

Context menus are opened by right-click or Ctrl+alt-click with the mouse!

<br><br>
Opening context menus with Ctrl+click is not supported because

the Ctrl-key is used for discontinuous selections according to the X-Windows and MS-Windows standard.

<br><br>
Please activate the right mouse button as described in the following screen-shot:
<br>
<img src="http://www.bioinformatics.org/strap/images/macSettingsMouse.jpg">

