.txt { font-family:  Verdana, Geneva, Arial, Helvetica, sans-serif; }

.figure { 
    background-color: white; 
    border: 1px solid #666666;  
    margin-left:  1em;
    float: right;
    clear: right;
}


.flipOpen {  border: 1px solid gray; margin-left: 3em; }

.smallImage { height: 1em;  padding: 0; margin: 0;  vertical-align: bottom;  } 

.plusMinus { background-color: #FFffFF;   border: 1px solid #000000; margin: 0; padding: 0; font-family: fixed,monospace,monosize; } 

.data { font-size: small;  background-color: #FFFFAA; border: 1px solid #666666; }
.terminal, .data { 
    padding: 1ex;
    margin: 0.5ex 1ex 0.5ex 1ex; 
    border: 1px solid black;  
}

.terminal a { color: #aaFFaa; }

.terminal { 
    background-color: black;  
    color: #77FF77; 
    border-bottom: 2px solid #66FF66;  
    border-right: 2px solid #66FF66;  
}
pre.terminalInline { color: #aaFFaa; background-color: black; display: inline; }
pre.dataInline {  font-size: small;  background-color: #FFFFAA; display: inline;}
.strap_script { 
    border: 2px solid #000000;  
}

.icon {
    height: 1em; border: 0; vertical-align: bottom;
}

body { counter-reset: section; }
h1, h2 { background-color: #DDDDDD; }

/* Until @ media, this is used for JEditorPane */
@media screen{
  * html #Dokument {    
                     height: 99%; 
                     width: 70%;
                     overflow-x: hidden;
                     overflow-y: auto;
                     }
  * html #Navigation {
                       position: absolute; 
                       font-size:  1em;
                       width: 20%;
                       }
}

* html, body { height: 100%; }

.terminal, .data {   font-family: fixed,monospace,monosize; }
.floatL { float: left;  margin: 0.5em; margin-right: 1em; }
.floatR { float: right; margin: 0.5em;  margin-left: 1em; }

h1,h2,h3 {  background-color: white; } 
h2.withCounter:before {   counter-reset: sub-section; counter-increment: section; content: counter(section) " "; }
h3.withCounter:before {  counter-increment: sub-section; content: counter(section) "." counter(sub-section) " "; }


@media print{
    #Navigation { width: 0%;   visibility:hidden; display: none; } 
    #Dokument {width: 99%; } 
    h1, h2, .terminal, .data {  background-color: white;}
    .NOPRINT { display: none;  color: white;  } 
}

@media screen {
    
    #Navigation { border: 1px solid #666666;  } 
    
    #Dokument { 
        position: relative;
        float: left; 
        width: 70%;
        margin:  1em;
        padding:0.5em;
        z-index: 2;
        background-color: white;
        border-right: 1px solid black;
    }
    #Navigation { 
        top: 0em; right: 0em;      
        position: fixed;
        margin: 0;
        line-height: 1.5em;
    }
    #Navigation a {    
        color: black;    
        text-decoration: none;
        margin: 0 1em 0  1em;  
    }  
    #Navigation a:hover {  text-decoration: underline; }   
}/*screen*/



#topRight{  top: 0; right: 0; margin: 1em; position: absolute;   text-align: right;   z-index: 3; background-color: white;}
.clearall {  clear: both;}
.menu_links {
    font-size: small;
    color: #666666;
}
.menu_headings {
    color: #FFFFFF;
    background-color: #666666;
    font-weight: bold;
    padding-left: 1em;
}


/*
scp ~/java/charite/christo/strap.css  $STRAP_DIR_B
*/