
<h2>Using directories with white space</h2>

Strap refuses project files with white space in the file path.

A workaround is to  assign a drive letter to the directory under consideration and
to enter this drive letter as the working directory. 

<br><br>

Assign an unused drive letter ( WIKI:Drive_letter) such as T: for the directory under consideration.<br>
Type into the Windows command shell ( DOS shell ):

<pre class="terminal">
 mkdir  "DIR"
 subst T: "DIR"
</pre>
Test the assignment:
<pre class="terminal">
 dir T:\  
</pre>
You can now refer  to this directory  with the path  "T:\"<br><br>
Undo the  assignment:
<pre class="terminal">
 subst /D T:  
</pre>


