   <h2>Text-viewer</h2>

Running Strap (http://3d-alignment.eu) with the option
<u>-viewTextFiles</u> starts a fast viewer for WIKI:Plain_text files.

It can also be used for WIKI:Binary_files.
In this case non-printable characters are drawn as an open rectangle.

<br><br>
Upon start a small green window appears which acts as a drag'n drop target for the files to be displayed.
The user needs to drag the file with the mouse and drop it there.
The files will be displayed in read-only text panes.

There are several advanced features. Type F1 for help.  The following three are the most important:

<ul>
  <li>Support for WIKI:ANSI_colors</li>
  <li>Advanced search/highlight. Type Ctrl+F or (German keyboard strg-F).</li>
  <li>User definable Web-applications and shell commands that act on text selections. Right click to get the context menu.</li>
</ul>


<u>Maximum file size:</u> For very large files the maximum heap size
must be increased. About 120% of the file size is required.

<br>Use a command line option like -Xmx999M  to increase the
maximum heap size such as to  999 Megabyte. If started from the Web add a web variable Xmx=999M to the URL.

