<h1>Execute external applications</h1>

The Apps dialog allows to run locally installed programs or web applications on the current protein data. 

<br><br>

Executable programs or web services are displayed in an expandable tree and can be started by mouse click.
(Debugging: hold ctrl while clicking). 

With the settings button at the top of the dialog, the user can change the list of applications.


<h2>The list of applications</h2>
The list of applications is opened with the settings button at the top.
Each line contains two tab-separated fields (Type Ctrl+I for  WIKI:Tab_character): 
<ol>
<li>The display name which may consist of several path components separated by slash</li>
<li>The file path to a program or script in the local file system or a web address of a web service</li>
</ol>

In addition, lines are added from all files with the ending ".list"
in /etc/strap/apps/ and ~/.StrapAlign/apps/.



