<h2>Creating annotated residue selections</h2>

Follow the two steps to select and annotate residues:

<ol>
  <li>Mark the residues with the mouse. You need to drag over the sequence.
  The sequence text gets a blueish background.</li>

  <li>Double-click the highlighted sequence. Or activate the menu item <i>BUTTON:charite.christo.strap.ResidueSelectionPopup#ACTION_MK_RESANO</i>
  of the context menu.

  The context menu is opened by clicking the highlighted sequence with the right mouse button.</li>

</ol>
The created  annotated residue selection is displayed as a table as below.

The name, sequence positions and annotation text can be edited.

<br>

<i>JCOMPONENT:charite.christo.strap.ResidueAnnotationView#docuView()</i>


