<h2>Groups of proteins</h2>

Sequence group is a concept in sequence alignment packages like Jalview
and Cinema. A SG is a user defined set of proteins.

Strap provides two operations on SG:
<ul>
  <li>Showing/Hiding all proteins in a group.</li>
  <li>Selecting/Unselecting proteins in a group.</li>
</ul>



To define a group of proteins, the respective proteins need to be selected first.
Selected proteins are indicated by white letters on blue background in the alignment row header.

In the  introduction tutorial, the different methods to select proteins are explained.


Now, the user can choose one of two methods to define a group.


<ol>
  <li>Right clicking one of the selected proteins brings up the
  context menu.  The first menu item opens a list of all protein names. 
    Below this list are buttons that act on the list: Select/unselect and view/hide proteins.</li>

  <li>The other method is driven by keyboard short cuts. 
    Therefore the alignment pane needs the input focus.  Each group
    is identified by a letter or digit.
    Typing capital letter G
    followed by a letter or digit defines a group of proteins.  These
    proteins can be acted upon:
  
  <ul>
    <li>Group-number and letter g: Shows those and only those proteins</li>
    <li>Group-number and letter h: Hides the proteins</li>
    <li>Group-number and letter d: Displays and selects the proteins</li>
    <li>Group-number and letter u: Unselects the proteins</li>
  </ul>
</li>
</ol>


