
<i>PACKAGE:charite.christo.</i>
<i>PACKAGE:charite.christo.strap.</i>


<br><br>
Making sequence alignments of related protein sequences is a common task in biology.
It reveals regions which are highly conserved and are functionally important.

Automatic approaches alone are often not fully satisfactory and manual
refinement is necessary in most cases particularly when the sequences
are very dissimilar.

<br><br>

Strap is a
comfortable and comprehensive tool to edit multiple protein sequence
alignments.

A wide range of functions related to protein sequences and
protein structures are accessible with an intuitive graphical
interface. 
<br>

Strap is tightly integrated into your desktop environment supporting
Cut_paste and Word_completion and spell check.

Drag_and_drop is available for proteins, residue selections, nucleotide structures and hetero structures.

Context_menu for proteins, residue selections and files are triggered by right mouse click. 




<br>
<br>
To users that are not familiar with object oriented graphical programs such as 
CorelDraw or PowerPoint, the program appears to be complicated in the beginning. 


With the help of the integrated tutorials you will learn how to
apply the currently available methods to compare proteins sequences
and structures.

<br><br>

    <b>The key features are:</b>
    
    <ul>
      <li>Visualization and manipulation of  sequence alignments (up to  1000 sequences) </li>

      <li>Automatic computation of multiple sequence alignments by <b>Clustalw</b> and many other algorithms.
        It can combine amino acid sequences alignments and protein structure alignments.</li>
      <li>Loading protein files from public databases</li>
      <li>BLAST searches</li>
      <li>Structure prediction</li>
      
      <li>3D-visualization using either   <b>PyMol</b>, <b>OpenAstex</b> or <b>Jmol</b></li> 

      <li>3D-superposition of C-alpha atoms</li>

      <li>Dot-plots</li>


      <li>High quality PDF output by LaTeX/TeXshade</li>

      <li>Project safety by included backup system</li>

      <li>Translation of nucleotide sequences to amino acid sequences</li>

      <li>Residue selections
        <ul>
          <li>Highlighting text patterns</li>
          <li>Residues adjacent to ligands</li>
          <li>Text annotations of residues including:
            <ul> <li>Notes</li> <li>Hyperlinks</li>   <li>3D-rendering commands</li> </ul> </li>          
        </ul>
      </li>
      
      <li>
        Optimized performance
        <ul>
          <li>Reduced memory consumption</li>
          <li>Extremely fast loading of proteins</li>
          <li>Cache for computed results such as alignments and Blast-results</li>
        </ul>
      </li>      
    </ul>
    

    
    <p class="floatR" style="background: url(myIcons/big_crossedThrough.gif) no-repeat; background-position: 1em center; " >
      <b>What it cannot do:</b><br>
      - Alignment of nucleotide sequences<br>
      - Docking<br>
      - Gene structure, promotor analysis<br>
      - Structure modelling <br>
      - Molecular dynamics<br>
      - Gene expression<br>
      - RNA-3D-structure<br>
    </p>
    
 

<br><br><b>Frequently occurring buttons</b><br>

<ul>
<li><i>ICON:IC_HELP</i> Help</li>
<li><i>ICON:IC_CONTROLPANEL</i>Program parameters such as Gap penalty</li>
<li><i>ICON:IC_CUSTOM</i>Program settings</li>
<li><i>ICON:IC_SHOW</i><i>ICON:IC_HIDE</i>Show/hide</li>
<li><i>ICON:IC_COLOR</i>Color</li>
<li><i>ICON:IC_CLOSE</i>Closing a view without loss of data</li>
<li><i>ICON:IC_KILL</i>Discard</li>
</ul>




