Multiple sequence alignments can be exported to PDF and WIKI:PostScript with the

<i>PACKAGE:charite.christo.</i>
<i>PACKAGE:charite.christo.strap.</i>
<i>PACKAGE:charite.christo.protein.</i>

<a href="http://www.latex-project.org"> LaTeX </a>
extension
<a href="http://www.ctex.org/documents/packages/special/texshade.pdf">TeXshade</a>
written by Eric Beitz  (see WIKI:LaTeX,  http://www.pharmazie.uni-kiel.de/chem/Prof_Beitz/texshade.htm).


<br><br><b>Installation</b><br>

LaTeX is required. It provides
the two shell commands "latex" and "pdflatex" which will be run by
Strap. A graphical front end is not needed.


<i>OS:W,For <b>Windows</b> there are two alternative LaTeX installations: WIKI:Cygwin and WIKI:Miktex. 

The complete Miktex is not needed, the Basic Miktex is a sufficient subset. After installation of Miktex it is necessary to reboot.</i>

<i>OS:M,For Macintosh OSX,  WIKI:Mactex http://www.tug.org/mactex/ can be installed. The full Mactex is not needed and 
the smaller subset BasicTeX (80 MByte) is sufficient. </i>

<br><br><b>Exporting the  sequence alignment to PDF</b><br>

By pushing "Generate PDF" in the main card of the TeXshade-Dialog, two files are generated: The LaTeX file with ending <i>.ps</i>
and the alignment file with ending <i>.msf</i>. These two files are then processed by the 
command pdflatex. The result is a pdf file.

As soon as the pdf file exists, the "PDF" button to start the PDF viewer becomes active.

The file path of pdflatex and of the PDF viewer can be customized.

<br><br><b>Including the Alignment  in Text-processor documents</b><br>

Modern textprocessors allow insertion of  PDF or Encapsulated PostScript images.

For PostScript output, the respective check-box needs to be activated. Subsequently,
the PostScript file (Suffix <i>.ps</i>) needs to be
converted to Encapsulated PostScript (File suffix <i>.eps</i>) as
described in "How do I convert PostScript to EPS?" of page
http://www.postscript.org/FAQs/language/ .

<br><br><b>Annotations</b><br>

Residue selections can contain one or more annotations labeled with <i>CLASSICON_CLASSNAME:Texshade</i>.

Those entries usually contain the variables "PROTEIN" and "RESIDUES"
which stand for the current protein number and the sequence positions.


    <div class="figure">
      <table>
        <caption>Useful  TeXshade-expressions  which can be added to selections</caption>
        
        <tr><td><pre class="data" >
  \feature{top}{PROTEIN}{RESIDUES}{box[Red]}{peptide}
  \feature{ttop}{PROTEIN}{RESIDUES}{box[Red]}{peptide}
  \feature{bottom}{PROTEIN}{RESIDUES}{fill:$\uparrow$}{$S_{129}$}
  \feature{bbottom}{PROTEIN}{RESIDUES}{fill:X}{cleavage}
  \fingerprint{300}
            </pre></td></tr>
      </table>
    </div>
    


    <div class="figure">
      <table>
        <caption>TeXshade examples with  variables </caption>
        
        <tr><td><pre class="data">
   \feature{bottom}{PROTEIN}{RESIDUES}{fill:$\uparrow$}{$$FIRST_Aaa_{$FIRST_INDEX}$}
   \feature{bottom}{PROTEIN}{RESIDUES}{fill:$\uparrow$}{$$FIRST_A_{$FIRST_INDEX}$}
            </pre></td></tr>
      </table>
    </div>
    

A detailed description is found on the  TeXshade home page.

<br><br><b>Plotting</b><br> Numeric values computed for each residue with a class
<I>ValueOfResidue</I> can be plotted along the sequence alignment.
Classes implementing <I>ValueOfResidue</I> have a <I>getValues</I>-method which returns a numeric value for each residue.

The user chooses a  class in the "plotting"-card <i>ICON:IC_PLOT</i>.

The  plot has  four alternative  locations: <b>top</b>, <b>bottom</b>, <b>ttop</b>, <b>bbottom</b>.

<br><br><b>Fixing LaTeX-errors </b><br>

Like in any programming language PDF-LaTeX stops when the text
contains syntax errors.
    
LaTeX reports the line number where the error occurred. For
example <I>1.42</I>  indicates an error at line 42.

Typically the error is an incorrect TeXshade command assigned by the
user to a residue annotation. The most frequent errors are unbalanced
parentheses or characters that have a special syntactical meaning like
<b>underscore</b> or "%".


<br><br><b>Memory limitation:</b>

With  large alignments the pdflatex-run may terminate with an  <I>... memory exceeded ...</I>-error.

No PDF-output would be generated.

If this happens the  LaTeX heap size must be increased.

Miktex users should set <I>pdf_mem_size</I> to a higher values in the file <I>miktex.ini</I>.

For other LaTeX systems the memory settings in <I>texmf.cnf</I> must
be increased ( e.g. multiplied by 10) and the program <I>fmtutil</I>
run as root.

Typical locations of the  <I>texmf.cnf</I>  are /etc/texmf/texmf.cnf  /usr/share/texmf/web2c/texmf.cnf and
/usr/local/teTeX/share/texmf/web2c/texmf.cnf.

<pre class="terminal">
 # fmtutil  --byfmt=pdflatex
</pre>

    <i>SEE_DIALOG:DialogExportAlignment</i>
        <i>SEE_DIALOG:DialogExportWord</i>
    
