<h2>Introduction</h2>
<i>PACKAGE:charite.christo.strap.extensions.</i>

This tutorial shows how protein structures can be superimposed three-dimensionally and 
how  a multiple sequence alignment can be computed from WIKI:Structural_alignment.


The three proteins of this tutorial  PDB:1eje,  PDB:1axj and PDB:1nrg can be loaded with the dialog <i>BUTTON:DialogFetchPdb!</i> (Or you can simply click).


<hr><h2>Backbone representation</h2>

Select the three proteins and open the 3D-backbone with the tool-button
<i>JCOMPONENT:StrapView#button(BUT_3D)!</i>. The three proteins are at different coordinates
in 3D-space.

<hr><h2>3D-Superposition</h2>

When the 3D-view is clicked, then the 3D-menu-bar appears. 

Click the menu-item  "Superimpose" to superimpose  the proteins.

Also try the dialog   <i>BUTTON:DialogSuperimpose3D!</i> which provides more options.

<hr><h2>Aligning the proteins</h2>
Press the button <i>BUTTON:StrapView#button(BUT_ALIGN)!</i>.

Since the sequences differ, the alignment can be best evaluated  with  "Secondary structure" 
in the choice menu <i>JCOMPONENT:ShadingAA#choice()!</i> for residue coloring.


<hr><h2>Visualization of 3D-distance in the alignment</h2>

3D-distances between C-alpha atoms can
be visualized in the alignment pane.

This option can be used for proteins that had been superimposed.

Select <i>COMBO:Distance3DToCursor</i> in the dialog
<i>BUTTON:DialogSelectionOfResiduesMain!</i> and select all
proteins.

Click into the alignment pane.
Residues in spatial neighborhood to the cursor position are  highlighted.
This highlighting is updated when the cursor is moved.








