<h2>Downloading the example data</h2>

The last base pair, the so-called WIKI:Wobble_base_pair,  in a WIKI:Codon changes more frequently during evolution than the first and second base.
This will be demonstrated in this tutorial.

<br><br>
The following nucleotide sequences need to be downloaded from NCBI:

<pre class="data">
WIKI:Proteasome alpha 1-subunits:

  GB:BC022354         GB:M63641          GB:NM_017283        GB:NM_203782        
  GB:XM_001139648     GB:XM_001213840    GB:XM_001263332     GB:XM_749396


WIKI:Proteasome alpha 2-subunits:

  GB:BC002900         GB:BC026768         GB:AB013342         GB:NM_001024441     
  GB:NM_001090584     GB:NM_001046879     GB:NM_079604        GB:NM_001035980     
  GB:XM_628527        GB:XM_950392      
</pre>

Using  the dialog <i>BUTTON:DialogFetchSRS!</i> involves three steps:
<ol>
<li>Copying (CTRL+C and CTRL+V) the IDs into the text field</li>
<li>Highlighting the IDs</li>
<li>Pressing the download <i>LABEL:"ncbi"</i>-button</li>
<li>Loading the downloaded files into STRAP by pressing the <i>LABEL:FilesFetchedFromServer#BUT_LAB_Load</i>-button </li>
</ol>

You should now see the nucleotide sequences in the alignment pane.
Select "nucleotides" in the selector <i>JCOMPONENT:ShadingAA#choice()!</i> in the tool-bar.

<div class="figure">
      <table style="caption-side: bottom">
        <CAPTION>
          Figure: Nucleotide alignment: Gaps disrupt codons.
        </CAPTION>
        <tr><td>
            <pre class="data">
 ... TAtAAtGAaGAt-------CTgGAaCTt--------------GAaGAtGCc ... 
 ... TAtAAtGAaGAc-------CTaGAgCTg--------------GAgGAtGCc ... 
 ... TAcAAcGAaGAt-------TTgGAaCTt--------------GAaGAtGCa ... 
 ... TAcAAtGAgGAc-------CTgGAaCTg--------------GAaGAtGCa ... 
 ... TAtAAtGAaGAt-------CTgGAaCTt--------------GAaGAtGCt ... 
 ... TAcACaGAaGAc-------ATgGAaCTt--------------GAcGAtGCc ... 
 ... TAtACaGAaGAc-------TTgGAgTTa--------------GAtGAcGCa ... 
 ... CTgAAgAAcAAg------GAtTAtGCtGAgGGtAGtT---GgGAgGAgGTg ... 
 ... CTgAAaAAcAAg------GAtTAcGCcGAtGGcAAcT---GgGAgGAgGTg ... 
 ... TTcAAaAAgAGtAAaATcGAcCAtATtAAtGAaGAaTCaTGgGAgAAgGTg ... 
 ... GTgAAgAAgAA--------aTTtGAtTG--gACaTTt-----GAaCAgACa ... 
 ... GTaAAgAAgAA--------aTTgGAcTG--gACtTAt-----GAgCAgACt ... 
            </pre>        
          </td></tr>
      </table>
    </div>



<h2>Aligning the nucleotide sequences</h2> 

Align the nucleotide sequences by pressing the tool-button <i>JCOMPONENT:StrapView#button(BUT_ALIGN)!</i>.

Use the tool-bar button <i>JCOMPONENT:StrapView#button(BUT_EXPORT)!</i> to export the alignment file to your word processor.

<h2>Translating the nucleotides sequences:</h2>

Now we are going to translate the nucleotide sequences with the dialog
<i>BUTTON:DialogGenbank!</i>.  After translation  you will see amino acid sequences
in the alignment pane.


 <div class="figure">
      <table style="caption-side: bottom">
        <CAPTION>
          Figure: Amino acid sequence alignment: Wobble base position is less conserved
        </CAPTION>
        <tr><td>
            <pre class="data">
 ... TAt AAt GAa GAt --- --- --- --- --- --- --- CTg GAa CTt GAa GAt GCc ... 
 ... TAt AAt GAa GAc --- --- --- --- --- --- --- CTa GAg CTg GAg GAt GCc ... 
 ... TAc AAc GAa GAt --- --- --- --- --- --- --- TTg GAa CTt GAa GAt GCa ... 
 ... TAc AAt GAg GAc --- --- --- --- --- --- --- CTg GAa CTg GAa GAt GCa ... 
 ... TAt AAt GAa GAt --- --- --- --- --- --- --- CTg GAa CTt GAa GAt GCt ... 
 ... TAc ACa GAa GAc --- --- --- --- --- --- --- ATg GAa CTt GAc GAt GCc ... 
 ... TAt ACa GAa GAc --- --- --- --- --- --- --- TTg GAg TTa GAt GAc GCa ... 
 ... CTg AAg AAc AAg --- --- --- GAt TAt GCt GAg GGt AGt TGg GAg GAg GTg ... 
 ... CTg AAa AAc AAg --- --- --- GAt TAc GCc GAt GGc AAc TGg GAg GAg GTg ... 
 ... TTc AAa AAg AGt AAa ATc GAc CAt ATt AAt GAa GAa TCa TGg GAg AAg GTg ... 
 ... GTg AAg AAg AAa --- --- --- --- --- TTt GAt TGg ACa TTt GAa CAg ACa ... 
 ... GTa AAg AAg AAa --- --- --- --- --- TTg GAc TGg ACt TAt GAg CAg ACt ... 
            </pre>
          </td></tr>
      </table>
    </div>

<h2>Aligning the amino acid sequences:</h2> 

Align the amino acid sequences by pressing <i>JCOMPONENT:StrapView#button(BUT_ALIGN)!</i>.

After alignment export the alignment <i>BUTTON:DialogExportAlignment!</i>.

In the export dialog select nucleotides instead of  amino acids.

The wobble base position is written in lower case and the first two
base positions are written in upper case.

The result should look like the figure below.

<h2>Discussion:</h2>

Now we  compare the result of the alignment computation with nucleotide  with the alignment computation with amino acids.

There are significant differences.

WIKI:codon are sometimes disrupted by gaps.
    
  
    
    
In the WIKI:ClustalW output for amino acid sequences it can be seen that
the wobble base position (lower case) exhibits high variability
compared to the first and second nucleotide position (upper case).


<b>Conclusion:</b>  Alignments computed with amino acid sequences  are more reliable than with
nucleotide sequences.


