With Strap you can 
<ul>
<li>Align proteins by sequence and 3D-structure</li>
<li>Download and create sequence annotations</li>
<li>Apply standard bioinformatics tools to large numbers of proteins</li>
<li>Make figures in publication quality</li>
</ul>

<br>
<br>

<h2>Quick start:</h2>

<b>Loading proteins from the web: </b>


<i>OS:W,Do not use IE 8 or higher. Use Opera, Firefox, Chrome, Safari etc. instead!<br> </i>

Visit the Wikipedia page WIKI:Hepcidin. <br>
Find the blue protein identifiers PF06446, 1m4f or P81172 in the right panel.<br>

Drag these blue identifiers into Strap. 
Depending on the browser, it might be necessary to initially drag vertically or horizontally.
<br><br>
For more information click the icon <i>ICON:IC_SHOPPING</i> at the left in Strap.




<br><br>
<b>Loading proteins from the local file system: </b> Simply use drag'n drop. 
Alternatively, use  graphical file chooser in the File menu. Short cut key: <b>Ctrl+O</b>.

<br><br>

<b>Aligning proteins: </b>

Press the button "Align" in the tool bar above the alignment pane. 

<br>
<br>



<b>Continue</b> with the
<a href="http://Tutorial_INTRO">Introduction Tutorial</a>  and the 
<a href="http://Tutorial_3DVis">3D-visualization Tutorial</a>
