
<h2>Introduction</h2>

A homeobox is a DNA sequence found within genes that are involved in
the regulation of patterns of development (morphogenesis) in animals,
fungi and plants.

Homeodomain proteins are transcription factors which bind DNA.

In this example we assume, that the  protein structure PDB:2E1O  should
be analyzed in the complex with DNA.
Unfortunately, there is no DNA structure recorded in PDB:2E1O. 
Here we show, how the DNA structure from a related structure can be copied.




<hr><h2>Visualization of the example structures</h2>

First download PDB:2E1O and PDB:1IG7. This can be done by clicking
these two links in this document.  

For loading, it should be clicked on the right side from the colon, otherwise the
proteins are opened in the browser instead.  Please note the mouse
pointer either saying "Load" or showing a web browser symbol.

To look at these two structures individually, select the structures and click
<i>JCOMPONENT:StrapView#button(BUT_3D)!</i> in the tool-bar. 


<hr><h2>3D-Superposition</h2>


By pressing the toolbar-button <i>BUTTON:StrapView#button(BUT_ALIGN)!</i>, the
two sequences can be aligned.  They amino acid sequences do not look
very similar. But the helices (red in the
alignment) are well aligned, indicating, that the alignment is correct after selecting  "Secondary structure" 
in  <i>JCOMPONENT:ShadingAA#choice()!</i>.


<br>
<br>
Using WIKI:Drag_and_drop, the two proteins can be dragged into the same 3D view.
Initially, they are not aligned three-dimensionally and you need to click "Superimpose"  
in the 3D menu-bar.

It is undetermined whether 2E1O is moved upon 1IG7 or the other way
round.  In the first case, a structure composed of the transferred
peptide chain 2E1O and the DNA of 1IG7 in  original coordinates will be created.

In the second case the peptide of 2E1O will stay but the DNA will move.



<hr><h2>Transferring the DNA</h2>

After superposition, the two peptide chains coincide in 3D. 

This is the precondition that  the DNA can be copied from 1IG7 to 2E1O. 

For this purpose, open the context menu 
of 1IG7 by right click. Find the item "Components/List nucleotide chain structures ...".
This opens a list representation of all DNA/RNA objects.
In this case you find  two DNA chains since the  DNA in 1IG7 is double stranded.
Drag the two DNA-molecules with the to 2E1O.

Check the result by opening a 3D view of only 2E1O. You should see DNA
and protein.

<hr><h2>File Export</h2>

Open the dialog <i>BUTTON:DialogExportProteins!</i> and select 2E1O.
Choose PDB-format and press the Go-button.  The resulting protein file
can now be inspected (right click for file context menu) or used for
other programs.

<br><br>

For example energy minimization by molecular dynamics could be used to
improve the interface between DNA and protein.







