<i>PACKAGE:charite.christo.</i>
<i>PACKAGE:charite.christo.strap.</i>
<h2>Introduction</h2>


Visualization of residue positions in 3D structures is an
important  step towards the interpretation of
mutations or polymorphisms in terms of protein function,
interaction and thermodynamic stability.  

It helps  to identify phenotype - genotype correlations.

For an increasing number
of proteins, that may be analyzed and screened for mutations,
three-dimensional protein structures can be found in the
PDB-database.  

Selecting and highlighting large numbers of residue positions in a
protein structure can be time-consuming and tedious and is error-prone when performed by
hand.

Strap facilitates mapping of mutations onto
three-dimensional protein structures.

This tutorial explains   how all known point mutations of the human cardiac beta WIKI:myosin 

are visualized on the 3D-structure of an homologous protein.

Mutations in this gene usually cause WIKI:Hypertrophic_cardiomyopathy.

Only a very few mutations produce a completely different heart disease, WIKI:Dilated_cardiomyopathy.
Also see publication PUBMED:16322575.

With the techniques described here it is possible to compare the 3D
location of both groups of mutations.

<hr><h2>Overview of the program modules used in this tutorial</h2>
Strap offers  several program modules which are involved.
<ol>
  <li>
    If the designations of the mutations refer to sites in genomic  DNA, Strap
    translates the sequence file from DNA to amino acids:
    <i>DIALOG:DialogGenbank</i>. The reading orientation and the intron/exon boundaries can be altered manually:
    <i>DIALOG:EditDna</i>        
  </li>
  <li>
    If the structure of the protein of interest is not yet available, a
    related protein can frequently be found in the structure databases 
    using
    <i>DIALOG:DialogBlast</i>.
    In this case the alignment of both proteins becomes the
    crucial part of the analysis:
    <i>DIALOG:DialogAlign</i>
  </li>
  <li>
    The mutations found in public mutation databases or mutations identified in the own lab
    are imported as a text list of mutation designations.
    <i>DIALOG:DialogResidueAnnotationList</i>
  </li>
  <li>
    

    The structure is viewed in Astex or another 3D-viewer:
    <i>DIALOG:Dialog3DViewer</i>
  </li>
</ol>


<hr><h2>Tutorial Start</h2>


Download human beta cardiac myosin  M57965 from the Genbank ( GB:M57965 ) or from EMBL ( EMBL:M57965 ) either by clicking these links or using 
<i>BUTTON:DialogFetchSRS!</i>.

<br><b>Exercise:</b>
<ol>
  <li>View the protein file and find the CDS-text string describing the positions of exons. 
    Use <i>BUTTON:ProteinPopup#docuEdSelected()!</i> from  the context menu.
  </li>
</ol>


<hr><h2>Translate the Genbank or Embl file</h2>

The file M57965 contains a nucleotide sequence which is translated into amino acids
using the CDS-expression join(5721..5921,6225..6368,6657..6813,6945.. ) contained in this file.

In this case there is only one gene record and Strap initially translates the nuctleotides inte  into amino acids.
If there were  more than one genes, the dialog in the WIKI:Context_menu 
<i>DIALOG:DialogGenbank!</i> would be used.


Push the tool-button "DNA". A view is opened which shows the UTRs, introns and exons.



<h2>Import the mutations or SNPs</h2>


Several online resources contain  lists of mutations for various genes and diseass.

Open the dialog <i>BUTTON:DialogResidueAnnotationList!</i>
Select the protein M57965 in the dialog and copy the following list of mutations into the multi-line text field of the dialog:



<pre class="data">
  R054X V059I T124I R143Q Y162C N187K R190T Q222K N232S
  F244L K246Q R249Q G256E I263T A326P K383N L390V
  R403L R403Q R403W V406M R453C R453H R453L E483K Q499K 
  F513C G584R D587V L601V N602S V606M K615N 
  R663C R663H R694C N696S R712L G716R R719Q R719W R723C R723G P731L 
  I736M G741A G741R G741W D778G S782N A797T E846K E846Q R869C 
  R870C R870H M877K L908V E924K E930K E930del E935K E949K L961R
  F764L S532P
</pre>
Then press <i>LABEL:ChButton#BUTTON_GO</i> to generate the residue selection in M57965 for each mutation.

These mutations had been obtained from http://genetics.med.harvard.edu/~seidman/cg3/ 
and http://www.angis.org.au/pbin/Databases/Heart/fhcquery.cgi.
Other resources  are for example.:
<ul>
  
  <li>http://www.hgvs.org/</li>
  
  
  <li>http://www.ncbi.nlm.nih.gov/SNP/
    <ul>
      <li>WIKI:OMIA Online Mendelian Inheritance in Animals other than human and mouse</li>
      <li>WIKI:OMIM Online Mendelian Inheritance in Man</li>
      <li>WIKI:SNP Single nucleotide polymorphism.</li>
    </ul>
  </li>
  <li>http://www.umd.be/</li>
</ul>





These residue selection have a context menu (right-click) and a Balloon message.

When  <i>LABEL:ResidueSelectionPopup#ACTION_edit</i>  in the context menu is clicked, a table is opened which shows the name, sequence positions 
and additional  annotations. 

<div class="figure">
  <table style="caption-side: bottom">
    <CAPTION><b>Figure:</b> Annotated residue selection as a table. The table gives the name, group and residue positions. 
      There are two additional annotations: Texshade command and a 3D command.
    </CAPTION>
    <tr><td><i>JCOMPONENT:ResidueAnnotationView#docuView("T3")</i></td></tr>
  </table>
</div>


<br><b>Exercise:</b>
<ol>
  <li>Choose one mutation and change the color.</li>
  <li>Edit one mutation and add comments.</li>
  <li>Simultaneously select two mutations and change their color. Two mutations can be selected in the alignment  with the Ctrl-key.</li>
  <li>Select several mutations by dragging or with the rubber band. </li>
</ol>

<hr><h2>Referring to nucleotide sequence positions</h2>

The dialog <i>BUTTON:DialogResidueAnnotationList!</i> can also be used when positions refer to nucleotides instead of amino acids. 

In this case "nucleotides" must be selected in the choice menu.

Please  add the following two mutations:
<pre class="data">
  C12164T G7799A
</pre>

You might use a different color for those.

Since these mutations are defined by nucleotide positions they can be    
best seen in the  nucleotide view.

Select M57965 and click: <i>ITEM:EditDna,P</i>.

The entire nucleotide sequence in the file is very large (26689&nbsp;bp)  and navigation with the scrollbar is relatively 
difficult. This is because the coding exons are relatively short compared to the non-coding introns.
The arrow keys allows to jump from one exon/intron start to the next.


<h2>View DNA sequence in Alignment Pane</h2>

Nucleotides can be shown in the alignment pane simultaneously with amino acids.
Select the last item "nucleotide" in 
<i>JCOMPONENT:ShadingAA#choice()!</i>.

In M57965 each amino acid corresponds to three nucleotides.
The nucleotides are shown as colored bars, guanine=GRAY, adenine=green, thymine=red and cytosine=blue.

<br><b>Exercise:</b>
<ol>
  <li>Identify the sequence position of the mutations   C12164T and G7799A in the alignment pane.</li>
</ol>


<hr><h2>Loading the 3D-structure file</h2>

Because a three-dimensional structure for the cardiac protein is not yet available, we use 
the structure of myosin of skeletal muscle instead.

PDB:1ALM is a theoretical model of the  relative position of the backbones of myosin and five actin monomers.

The myosin heavy chain is chain A in 1ALM and the actins are chains V,
W, X, Y and Z. 

The X-ray structure 2MYS, however does not contain actin but contains the amino acid side chains.  

Therefore both are combined to one file for this tutorial and can
be loaded by clicking
<i>JCOMPONENT:Tutorials#bExampleFiles("MUT")!</i>.



<hr><h2>Aligning myosin from skeletal muscle and heart muscle</h2>

Before copying the mutations from M57965 to 1alm_2mys, both must be aligned.
Select both (Ctrl+click) and push the tool-button  "Align 2 proteins".



<hr><h2>3D-visualization</h2>

In order to visualize the protein 3D trace, mark all alignment rows with
a pdb structure file and open the 3D-wire representation
<i>JCOMPONENT:StrapView#button(BUT_3D)!</i>.

<h2>Full featured 3D view</h2>

Load the protein into the Astex 3D viewer by clicking the
button <i>LABEL:V3dUtils#BUT_DEFAULT_VIEWER</i> above the
protein backbone view.
<br><br>
You can drag residue annotations such as mutations directly into Astex, even if they are placed on a different protein.
See below for how to transfer mutations.

<hr><h2>Transfer the mutations to 3D</h2>

Currently the mutations are shown in M57965 but we want to see
them in the protein structure file "1alm_2mys_A.ent". 

First select the residue annotations of M57965.
Selected annotations are indicated by WIKI:Marching_ants.

For large numbers, clicking each selection would be tedious and there are various 
approaches which are more efficient.
<ul>
  <li>
    Open a red/white rubber band by dragging the mouse.
    Initially, the rectangle must comprise more than  one row but can be narrowed afterwards.
    All residue selections in the rectangle are selected. 
  
  </li>
  <li>The menu "Select" offers a string pattern search.</li>
  <li>
    The  graphical tree lists all proteins and their associated objects. The tree is initially not shown, because the vertical
    divider is at the left edge of the application frame.
  </li>
  <li>
    Ctrl+click the first residue annotation and Shift+click the last residue annotation.  
  </li>
</ul>


The selected residue annotations are indicated by marching ants and can  be dragged to the 3D-structure.


<hr><h2>Using Pymol instead if Astex</h2>

If you are used to WIKI:Pymol rather then Astex you may want to use Pymol.
It can be opened in  <i>DIALOG:Dialog3DViewer</i>.     

Pymol will initially not display the actins since pdb1alm is a
model containing only C-alpha atoms but no amino acid side chains.
To make the C-alpha atoms visible, select "nonbonded" in
Pymol. This is done in the  popup menus "[S]" of the Pymol side pane.

<br><br>
Since Pymol is not a Java application, you cannot drag the mutations onto the Pymol panel.
Therefore there is a Pymol button which brings up the 3D generic menu bar in Strap and which acts as a drop target. 



