    <h2>Introduction</h2>
 
    This tutorial shows how two alignments  can be combined to one alignment.
    
    
    As example  some WIKI:Proteasome subunits  are loaded:
    <i>BUTTON:Tutorials#bExampleFiles("AA")!</i>
    
    These subunits belong to two different classes: Bacterial subunits start with "hs_" and eukaryotic alpha 2  with "a2_".
    
    
    You can align all protein sequences using the tool-button <i>BUTTON:StrapView#button(BUT_ALIGN)!</i> or the dialog <i>BUTTON:DialogAlign!</i>. 
    
    The sequence alignment algorithms work well for sequence of the same group but fail to align bacterial with eukaryotic subunits because the sequences are very dissimilar.


    <hr><h2>Aligning all bacterial sequences</h2>

    Align all bacterial sequences (names  starting  with "hs_")  choosing 
    a sequence based method such as <i>COMBO:MultipleAlignerClustalW</i>.

    If the protein names can be recognized  by a string pattern ( in our
    example the names start with "hs_"), the selection can be performed with the tool-button
    <i>ICON:IC_SEARCH</i>.


    <hr><h2>Stack all bacterial sequences in one line</h2>

			
    Use the dialog <i>DIALOG:DialogManyInOneRow</i> to place 
    all aligned bacterial sequences into one row such that  hs_EscherichiaColi.pdb  stays on top.


    This is important because hs_EscherichiaColi.pdb is the one with  c-alpha coordinates.

    As a result  all bacterial protein files but hs_EscherichiaColi.pdb vanish.
    The number 4 in the row header indicates the number of proteins in that row.

    All gaps inserted into hs_EscherichiaColi.pdb will simultaneously also be inserted into the 4 proteins.

    <hr><h2>Aligning all eukaryotic sequences</h2>
    
    Proceed in the same way with the eukaryotic sequences. 
 
    <hr><h2>Align both blocks three-dimensionally</h2>

    In the alignment pane only two sequences are currently shown:
    hs_EscherichiaColi.pdb and a2_SaccharomycesCerevisiae.dssp.

    
    Though their sequences are very different, their 3D-structures look similar as can be seen by pressing <i>BUTTON:"Superimpose"</i> of 
    the  wire-frame view: <i>JCOMPONENT:StrapView#button(BUT_3D)!</i>.

    Please align both rows. If you use the Alignment-dialog then you
    should select a 3D-based alignment method
    like
    <i>COMBO:Superimpose_CEPROXY</i>. The tool-button
    <i>BUTTON:StrapView#button(BUT_ALIGN)!</i> is more convenient because it
    automatically selects a 3D-method if 3D-structures are available.
                

    <hr><h2>Place each Sequence in a row of its own</h2>

    Separating the stacked proteins is also performed in the dialog <i>DIALOG:DialogManyInOneRow</i>.

    Select  hs_EscherichiaColi.pdb and press the button and then select a2_SaccharomycesCerevisiae.dssp and press the button.

    As a result you see the entire multiple alignment with all proteins.
 
