This tutorial takes about 40 min and explains one of the most
important concepts in Strap: WIKI:Drag_and_drop.

Objects like proteins, ligands and
residue annotations can be moved around with the mouse and attached
to other objects.


<hr><h2>Dragging proteins from the Web into Strap</h2>

The Web pages MolEvolFormats* and  EBI_Formats*  contain examples of different file formats.
For each  example you can drag the "DOWNLOAD" link into Strap.

This is explained in the video
<i>STRING:ChConstants#MOVIE_Load_Proteins_web_uniprot</i>.

<i>OS:W,Do not use IE 8 or higher. Use Opera, Firefox, Chrome, Safari etc. instead. </i>
<br><br>


Also try dragging proteins from Web-services such as Uniprot or Ncbi
into Strap.

This works for many important bioinformatics services such as Uniprot and NCBI.  

You may request support of services which are currently not yet
working. Alternatively, you may ask the maintainer of that service to
directly include Strap Web start buttons.

<br><br>

Clicking the links for each file format opens an example text in the
browser.  Please select the protein or alignment text (and only this
text without the comments around) with the mouse.  Then drag the text
selection into Strap.


<hr><h2>Dragging proteins from the local file system into Strap</h2>

Type  a text consisting of letters with a text editor and save it as plain text.
Drag this text file into Strap.
This text is interpreted as an amino acid sequence.
A common error is to save the file in a  proprietary  word processor format such as .doc or .docx.

<hr><h2>Dragging proteins from Strap to other Targets</h2>

Drag a protein in the row header to the desktop. 
The row header  must be dragged first to the left or to the right. This is because dragging up and down just changes the order of proteins.

Try different targets:
<ul>
  <li>The Desktop</li>
  <li>Directories in the <i>OS:M,Finder</i> <i>OS:W,File Explorer</i> <i>OS:OL,file browser</i> </li>
  <li>Other applications for example Jalview ("Web-start"-button on http://www.jalview.org/download.html)</li>
  <li>Text editors such as MS-Wordpad</li>
  <li>A second Strap sessions</li>
</ul>


For proteins that are part of a multiple sequence file a WIKI:Fasta formated file is dragged.

This behavior can be altered in the Drag-and-Drop options from the Preferences menu
<i>BUTTON:StrapAlign#button(BUT_DRAG_OPTS)!</i>.

Please load either PFAM:PF00207  or PRODOM:PD000267 (The IDs can be directly clicked).

<br><br>
Vice versa, all protein files can be dragged from the Desktop back to Strap.
To test this, remove all proteins in Strap  (Click into row header and type Ctrl+A. Then hit the Delete-key).
Then, drag them all back.


<hr><h2>Dragging entire alignments</h2>

Entire alignments including gaps and residue annotations, can be exchanged between two Strap Windows.
For testing use the example files <i>BUTTON:Tutorials#bExampleFiles("13")!</i>.
Align all proteins with the tool-button  <i>BUTTON:StrapView#button(BUT_ALIGN)!</i>.

Open another Strap session with a different project directory.

Select some of the proteins and drag the selected proteins into the other view. 
The alignment of these proteins should appear.


<hr><h2>Dragging residue selections</h2>

Create a residue selection  by dragging the mouse over some residues.

Now try to drag this selection up or down to another other protein. It is important to
initially drag vertically.
<br><br>

<br><br>

<b>Copying more than one residue underlining:</b>

Use Ctrl+click to select two different residue selection.
Selected residue selections are highlighted by WIKI:Marching_ants.

Now drag one of them two another protein. Since both are selected, both are transferred.
<br><br>

<b>3D-view:</b>Now load a protein file with 3D-coordinates and open a 3D-view.
Drag the residue-selection into the 3D-view.

<br><br>

<b>Two alignment windows:</b>Open a 2nd Strap session with a different project directory. 
Load the same proteins. Now underline some residues and drag the underlining upwards and then drop in in the other Strap session.



<hr><h2>Rectangular region (rubber band)</h2>

As explained above, Ctrl+click can be used to select several
residue selections.  This might become tedious for many selections.

Similar to the computer desktop, several selections can be selected by opening a rectangle with the mouse.
This rectangle is indicated as red-white marching-ants.

Advanced: Shift and Ctrl work the same as in Photoshop or Gimp: Union-set and cut-set.



<hr><h2>Dragging Images</h2>

Image files can be dragged onto proteins.
Please open a page with images like
http://images.google.com/images?imgsz=icon&q=rabbit.

Now drag an image to a protein label to change the icon for the protein.

This works also for persistent residue annotation to change the background.



<hr><h2>Dragging 3D Ligands, Hetero compounds and RNA/DNA structures</h2>

Please load PDB:1l4p.

This protein consists of peptide chains G to R which are shown in individual alignment rows.
Open the 3D-view  for  chain G (Tool-button <i>BUTTON:StrapView#button(BUT_3D)!</i>  or Context-menu&gt;<i>BUTTON:ProteinPopup#ACTION_backbone</i>).
If two monitors are attached to the computer, it might be convenient to detach the 3D-view and put it on the other screen.

Then drag all other peptide chains into the same 3D-view. 
This protein has RNA. The RNA structures are attached to peptide chains I, M, N, P and Q indicated by a vertical green bar left in the row header.


<br><br>

Please open another 3D -view for 1l4p_G.pdb. No RNA is shown because the chain 1l4p_G.pdb has no RNA attached.

If the green bar of 1l4p_I.pdb is clicked, a list of hetero compounds can be opened which shows two RNA molecules. 
Drag  the RNA molecules  to  1l4p_G.pdb. They will  appear in the 3D-view.

