
Frequently activating menu items from  deeply nested menu structures is cumbersome.
 
This tutorial explains how menu items can be accessed directly by placing them on the desktop.
This allows frequently used menu items to be used much faster.

<br>    
<br>    
Please load some proteins or press the following button: <i>BUTTON:Tutorials#bExampleFiles("13")!</i>
<br><br>
As an example for a menu item we take "Protein name" in 
the menu Properties of the context menu of proteins.

Please open the context menu of a protein by right click the protein label. 
Select the menu item "Protein name" in "Properties".
As a result the protein name is printed in a text pane.

<br><br>

Assume, this menu item needs to be clicked many times. 
Instead of opening the menu each time, it is more efficient to drag the menu item to the desktop with the mouse.
<br>
<br>
Undocked menu items act on the selected objects.
Therefore the menu item remains disabled until at least one protein is selected.
<br><br>
Please select one or several proteins and click the undocked item.  
<br>
<br>
<i>OS:M,If Screen-menu-bar is activated, undocking does not work for the menu-bar.</i>

<h2>The item list</h2>

Open the context menu of a bunch of proteins and chose the first menu item "Display list".

The list of proteins appears in a separate frame. Also this list supports context menus and undocking of menu items. 

Please repeat above exercise for the context menu of this list.

Undocked menu items appear now directly below the item list.
