<i>PACKAGE:charite.christo.strap.</i>    
This tutorial takes  about 40 min and explains the basics of Strap.
<br><br>

<b>Printing this tutorial:</b>
Click into the text to set the input focus and
type <b>Ctrl</b>+<b>P</b>.  This text will then appear in the Web-browser where
it can be printed.

If the web browser is not started, adjust the settings in the Preferences menu
<i>BUTTON:Customize#newButton(webBrowser)!</i>.

<hr><h2>Computer-Basics</h2>

Make yourself familiar with a few elementary concepts of graphical
computer systems. They are common to all Desktop systems like <i>OS:W,Windows</i> 

<i>OS:M,Macintosh. Macintosh differs slightly from other systems, for example the Command key is often used instead of Ctrl)</i> 

<i>OS:OL,KDE, Gnome or XFCE</i>.   

With the text processor and the 

<i>OS:M,Finder</i> <i>OS:W,File Explorer</i> <i>OS:OL,file browser</i>
try the following:
<ul>
  <li>
    Important key strokes you should know:
    <ul>
      <li>Ctrl+C  &nbsp; &nbsp; Copy text</li>
      <li>Ctrl+V  &nbsp; &nbsp; Paste text</li>
      <li>Ctrl+X  &nbsp; &nbsp; Cut Text and add it to the Clipboard (German Zwischenablage see WIKI:Cut_paste)</li>
      
      <li>Ctrl+F  &nbsp; &nbsp; Find text pattern</li>
      <li>Ctrl++  &nbsp; &nbsp; Zoom in (Also Ctrl+mouse wheel)</li>
      <li>Ctrl+-  &nbsp; &nbsp; Zoom out</li>
      <li>F1  &nbsp; &nbsp; Help</li>
      <li>Shift+&rarr; or Shift+&larr;: In text processors the cursor is moved and a text segment is selected. 
        In list elements like the file browser, one item can be selected by mouse click and neighboured elements can be selected with the Shift plus keyboard Arrow keys.
        In the alignment panel and all 3D views this  selects  consecutive amino acids.
    </ul>
  </li>
  <li>WIKI:Context_menu<span>s.</span> For example right click a file in your file browser.</li>
  <li>WIKI:Drag_and_drop. For example drag a file to another location.</li>      
</ul>


<hr><h2>The row headers</h2>


Push the button <i>BUTTON:Tutorials#bExampleFiles("13")!</i> - some example proteins are downloaded and appear in the alignment pane.

The header of each alignment row shows the protein
name. Select proteins. Selected proteins are white on blue. Multiple item selection works in the standard way. Please try:
<ul>
  <li>Ctrl+A selects all.</li>
  <li>Left-click one and Shift+click another protein selects all proteins in between.</li>
  <li>Shift+&darr; or Shift+&uarr; or Shift+PaDown or Shift+PaUp selects multiple proteins.</li>
  <li>Ctrl+click toggles selections</li>
  <li>Ctrl+F opens a dialog for text search on the protein name or header text</li>
</ul>


Please try:
<ol>

<li>Decrease and increase the height of the alignment panel. </li>

<li>Change the order of proteins by dragging protein names up and down.</li>

<li>Drag them outside the application frame to copy the protein files for example to the desktop.</li>

<li>Get the context-menu by right-click.</li>

<li>Read the balloon message of a protein (Mouse pointer at the left margin of a protein name).</li>

<li>Change the order of proteins using short cut keys: Select proteins
and type Ctrl+X or Ctrl+C. Select another row and type Ctrl+V to
introduce the proteins here.</li>

</ol>

<hr><h2>Aligning sequences</h2>

Select all proteins and click the tool button [Align all].
Initially, the alignment programs will be installed.
When the computation succeeds,  the sequences will be aligned.
Strap automatically combines the default 3D and sequence methods to obtain the optimal alignment.



<hr><h2>Alignment overview</h2>

Activate the <i><b>Overview</b></i> button left from the
horizontal scroll-bar. The alignment overview is a powerful feature that allows visual
navigation in large alignments. Please try the following exercises to get used to the
alignment overview:

<ul>
  <li>Select an amino acid sequence from the alignment pane</li>        
  <li>The alignment overview will also display that selection</li>        
  <li>The blue focus area can be moved to navigate</li>        
  
  <li>The alignment overview displays many features including the flashing cursor position,
    residue selections, residue color code, rectangular selections, hydrophobicity and entropy
    plots</li>  
</ul>  


<hr><h2>Editing the Alignment</h2>

Click in the alignment to get a text-cursor.

Cursor navigation and text editing  works like in  <I>MS-Word</I>
with the difference that only white space can be inserted or deleted, but
the amino acids cannot be changed.

For more info see  <i>DIALOG:StrapKeyStroke</i>.

<br><b>Exercise:</b> 
<ol>
  <li>Insert and delete gaps using the Space Bar, Delete key and Backspace key.</li>
  <li>Change two  proteins  simultaneously by selecting the two proteins.</li>
  <li>Insert exactly 13 white spaces by typing "1" "3"  "space-bar".</li>
  <li>Change the order of the proteins.</li>
</ol>



<hr><h2>Copy-and-Paste and Drag-and-Drop (D&amp;D)</h2>


Create a text file with the
following  PDB-text (WIKI:Protein_Data_Bank) in a text editor.  




<pre class="data">
this is
my amino acid
sequence
</pre>

Next try two alternative methods to drop this amino acid sequence into Strap:

<b>Drag-and-Drop text selection:</b> 
Now select the entire text in the text editor. <i>OS:W, Notepad does not work. Use Wordpad instead.</i>
Drag the selection with the mouse into the Strap application. You will be asked for a protein name. 
<br><br>
<b>Drag-and-Drop a file:</b>

Save the file as plain text. Avoid white space in the file name! 

Some text-editors like the default editor of Apple OS or MS-Word may
cause problems by offering special formats rather than plain text.  Do
not save it in MS-Word- or HTML- or RTF format, it has to be plain
text!

The file will usually have the ending ".txt" thought for Strap the ending does not matter. 


Drag the file with the mouse and drop it into the Strap application.


Drag and Drop is a key feature of Strap and is usually more convenient than the file browser opened with Ctrl+O. 



<b>Drag-and-Drop a file from file browser:</b>

Find the drop target <i>ICON:IC_SHOPPING</i> at the left of Strap. Click the icon and study the web page
about Drag-and-Drop which appears in the browser.
If opening the browser fails, check the settings <i>BUTTON:Customize#newButton(webBrowser)!</i>.



<hr><h2>Residue selections</h2>

Please drag the mouse over some amino acids. This will create a residue selection.

But, if the mouse crosses rows, a rubber band selection appears which is not what you want at the moment. 
You rather need to stay in one row while dragging. 

<br><br>
Explore this selection: (I) Move the mouse over the highlighted residues. The underlining will start flashing and a  balloon message appears.
(II) Drag it to another aligned protein. (III) Change the color using the context menu

<br><br>
If you select some other amino acids, the previous selection is lost.
There can be only one mouse selection at a time. 
To overcome this limitation, this basic selection needs to be turned into a named selection. 


Please try the following three alternative approaches:
<ul>
<li>Double clicking on the selection</li>
<li>or menu item <i>BUTTON:ResidueSelectionPopup#ACTION_MK_RESANO</i> from the context menu. (Get context menu by right clicking the selection)</li>
<li>or drag it and drop it on the same protein.</li>
</ul>

The generated selection can hold data shown as a table on double-click.
<br>
<i>JCOMPONENT:ResidueAnnotationView#docuView("B")</i>
<br>
<br>
Please add further annotations. For example enter a balloon message which will be displayed when the mouse pointer is over the selection.


<hr><h2>Rubber Band selections</h2>

Create a rubber band selection by dragging the mouse over several rows. 
A white / red rectangle of marching ants appears.
Change the size at its  edges and corners.
Several analysis tools optionally take the rectangle instead of the entire alignment.
Study the rectangle's context menu.



<hr><h2>Looking for a particular menu item</h2>

Supposed you want to sort sequences by similarity
but you cannot find this program feature in Strap. The solution is a text search in the list of 
all menu items from the help menu: 

<i>BUTTON:StrapAlign#button(CMD_ALL_MENUS)!</i> and
<i>BUTTON:StrapAlign#button(CMD_ALL_POPUP)!</i>. 

Perform a string pattern search (Ctrl+F) in these two lists.

Identify the dialog to sort proteins!



<hr><h2>Word completion with the Tabulator-key</h2>

Tab-word completion is a  convenient feature and can be tested in the file Open box.

Select "Open file ..." from the File menu or type Ctrl+O to open the file selector dialog.

Focus the text field for manually typing file names and 
type only the first letter of the file name.

Hitting the tabulator key will complete the file name. In case of
ambiguousity, it cycles through all possibilities.


<hr><h2>Multiple alignment windows</h2>

Select all proteins. 

Start a second Strap session with a different project directory. 

Then drag the selected proteins to the other Strap Window.

Not only proteins can be exchanged between Strap sessions but also residue selections.


<hr><h2>Always floating on top</h2>

The main Strap window and all other windows can be set 
"floating on top" which means that they are not hidden by other windows even if they do not have the focus.
Those windows are indicated by a "^" sign in the window's title bar. 

Some windows are initially in this state. 

To try this feature, set the input focus to the main application window by mouse click.
Then type Ctrl-T.  
Type Ctrl-T again to get back to normal.





