<i>PACKAGE:charite.christo.</i>
<h2>Introduction</h2>

Protein alignments are more accurate with  
3D structures being  used for computation.

This tutorial shows how the 3D-structures of a given amino acid sequence is obtained.

The WIKI:Blast service at the EBI will be used to identify similar sequences in  the PDB-database.

The protein sequence UNIPROT:SUBT_BACSU will serve as an example. You can download this protein simply by mouse click or use

the dialog <i>BUTTON:DialogFetchSRS!</i>


<hr><h2>Searching for 3D structures</h2>


Select the protein SUBT_BACSU and click the tool-button <i>BUTTON:"3D"</i>.
The dialog identifies similar but not necessarily identical sequences in the 3D database.
<br><br>
<i>JCOMPONENT:DialogSimilarStructure#docuView()</i>
<br><br>
When the computation is finished you can click the column "Apply".
Strap will download the protein file and infer the 3D structure to SUBT_BACSU.
<br><br>

Finally the 3D structure is shown. 
By clicking into this basic 3D view, the 3D menu-bar is put in place. 
It has a black background to be distinguished from the standard menu-bar.

From the 3D menu-bar, sophisticated 3D views can be opened.

<br><br> 

Alternatively, the dialog <i>BUTTON:DialogBlast!</i> can be used. Here the
user can inspect the search result to identify a suitable 3D
model.
