<i>PACKAGE:charite.christo.strap.</i>    

<hr><h2>Obtaining example proteins for this tutorial</h2>

In this tutorial we compare three subunits of the core of the WIKI:Proteasome.

The protein files are downloaded into the project directory and appear in the sequence alignment pane below.
<i>BUTTON:Tutorials#bExampleFiles("3")!</i>

<h2>The tool-button "Align"</h2>

A main feature of Strap is the optimal combination of sequence and
3D-alignment algorithms.  Please try
the tool-button <i>JCOMPONENT:StrapView#button(BUT_ALIGN)!</i> which
applies the default algorithms to all or the selected proteins.



<hr><h2>The Alignment dialog</h2>

The alignment dialog gives full control. Open it with the menu item <i>BUTTON:DialogAlign!</i> in the menu "Align". 
Then activate "+ Options".


First you need all proteins to be aligned.

Select the method <i>COMBO:MultipleAlignerClustalW</i>, which computes alignments regarding only the amino acid letters.


After starting computation by pressing the button <i>LABEL:ChButton#BUTTON_GO</i>
a result panel with the alignment preview appears.

You can inspect the result and accept it by pressing <i>BUTTON:DialogAlignResult#BUT_LAB_Apply</i>. 

By accepting the alignment, the alignment gaps are conferred to the working alignment in the main alignment pane.

   

<hr><h2>Evaluating the alignment</h2>


Next we evaluate the alignment using biological knowledge.


In the tool-bar change the shading style  <i>JCOMPONENT:ShadingAA#choice()!</i> to <b>"secondary structure"</b>. 


Sequence insertions and deletions during evolution usually avoid  helices (red) and beta sheets (yellow).

Apparently, this is not the case her since  gaps are found in the middle of helices.

To see the overview of the entire alignment, please activate the check-box "Overview ..." left from the scroll-bar.

<hr><h2>The active site residues Gly 129 </h2>

The &#946;-subunit b1_SaccharomycesCerevisiae.pdb and the bacterial subunit hs_EscherichiaColi.pdb are catalytically active whereas the &#945;-subunit a1_SaccharomycesCerevisiae.pdb is not.

Regard the active site residue Ser<sub>129</sub> in the  &#946; and bacterial subunit.
There are several methods to navigate to a specific sequence position.

<br><b>Navigation with the text cursor</b> 

The alignment header gives the residue index, the residue number,
and the alignment column of the cursor position. 

Residue numbers are recorded in the PDB-file (see the PDB listing
below) and are usually written with a colon and the WIKI:peptide chain letter.

Residue indices, however, count from 1 to the number of residues.


<br><b>Navigation with the ruler</b> 

The ruler gives either the residue indices or the residue numbers of
one specific protein.  Please set the the sequence b1_ and activate
residue number. 


<br><b>Go-to-residue-numbers or go-to-residue-index:</b> 

There is a convenient key sequence: Place
the cursor anywhere on the sequence of b1_.  Type "1", "2", "9" and
finally "n". The "n" stands for residue number. Alternatively, "i" would jump
to the residue with index 129. 
In this case index 129 and resnum 129 denote the same position.


<br><b>Text pattern search:</b> 

Search for the text string "GSG": <i>BUTTON:DialogHighlightPattern!</i>.


<br><b>Conclusion:</b> The active site positions of the
two sequences are not well aligned with sequence based methods.


<hr><h2>Structure based Alignment</h2>

Next perform a WIKI:Structural_alignment using the alignment method <i>COMBO:Aligner3D</i> which is a
combination of WIKI:ClustalW and a 3D superposition program. 
<br>
<b>Result:</b> The active site residues are  aligned well.


<hr><h2>Mixed sequence/3D-structure alignments</h2>

Often protein structures are available only for  some of the proteins under consideration.
In this case Strap combines the two methods 3D-Superposition and sequence alignment comutation.

For testing load the example
files <i>BUTTON:Tutorials#bExampleFiles("13")!</i> and press the
tool-button <i>JCOMPONENT:StrapView#button(BUT_ALIGN)!</i>.


