    <h2>Introduction</h2>

    The goal of this tutorial is to demonstrate how residue selections  can be visualized in the printable PDF output.
    
    The PDF output allows to highlight annotations in different styles.
    
    
    As a selection criterion we will use the spatial distance of C-alpha atoms 
    to a hetero group <i>COMBO:Distance3DToHetero</i>. 
    
    
    Download   PDB:1nrg
    
      

   <hr><h2>Creating PDF</h2> 
    
    
    The PDF-document is  created with  the type setting system WIKI:LaTeX
    <i>BUTTON:Texshade!</i>.

    <hr><h2>Highlight spatially close residues</h2> 
    
    Open the dialog <i>BUTTON:DialogSelectionOfResiduesMain!</i> and select
    the  method <i>COMBO:Distance3DToHetero</i>.

    Select the protein and type "FMN" into the control panel.
    
    All residues in proximity to the flavine are highlighted.

    Use the slider to adjust the distance.

    Observe the effect of altering the distance in the alignment pane and the 3D backbone view.

    Also activate the check-box "Overview ..." left from the horizontal scrollbar.


    <h2>Creating an annotated selection</h2> 
    
    The residue selection needs to be turned into a named residue selection.
    From the WIKI:Context_menu use
    <i>BUTTON:ResidueSelectionPopup#ACTION_MK_RESANO</i>.
    
    
    The resulting annotated residue selection is shown as a table containing the name and the sequence positions.

   
   
    <div class="figure">
      <table style="caption-side: bottom" >
        <CAPTION><b>Figure:</b> Texshade command attached to the named residue selection.</CAPTION>        
        <tr><td><i>JCOMPONENT:ResidueAnnotationView#docuView("T")</i></td></tr>
      </table>
    </div>

    

    
    
    
 
    
   
    
    Add a table row with the tool-button at the top.
    
    The figure shows the dialog for adding table rows.
    <div class="figure">
      <table style="caption-side: bottom">
        <CAPTION><b>Figure:</b> Adding Pymol commands to a residue selection.</CAPTION>
        <tr><td><i>JCOMPONENT:AddAnnotation#docuWithPymol()</i></td></tr>
      </table>
    </div>
    
    Select  <i>ICON:IC_PDF</i>Texshade.

    Choose 
    <pre class="data">
\feature{top}{PROTEIN}{RESIDUES}{box[Red]}{peptide}
    </pre>

    This TeXshade command marks the selected residues as a red box labeled with 'peptide'.

    This row will be inserted into the table.    

    Click the <i>ICON:IC_PDF</i>Texshade in the table row header  to get a preview for one single protein.
    
    For generating a PDF with more than one protein, the dialog <i>BUTTON:Texshade!</i> is required.
    
    
