<i>PACKAGE:charite.christo.strap.</i>    

<br><br>

PDB files can be visualized three-dimensionally. For other sequence files, Strap assists identification of a suitable PDB entry for a given amino acid sequence
which is explained in another tutorial.

Click the button to get example
PDB files: <i>BUTTON:Tutorials#bExampleFiles("3")!</i>.  


To visualize the 3D-structure for a protein select the protein.
This is done by clicking the row header of that protein in the alignment panel. The selected protein name
is printed white on blue background. Then click the tool-bar button "3D" to open the basic 3D view. 

The 3D model can be turned with the mouse and zoomd  with [Shift+]Ctrl+Wheel. Amino acid side chains are not shown.


<h2>Advanced 3D views</h2>


The black menu bar belongs to the 3D view. Find the menu "Alternative 3D viewer types" in the menu "View".
Either use JMol or Astex. The first time the viewer is used, it is downloaded.
Then the 3D-view appears  inside the Strap application.

While Strap provides additional menus in the black menu-bar, the specific menus of the 3D view  
(Menu-bar of OpenAstex and the context menu of JMol) are still functional. 

The black menu bar belongs to the 3D-view which had been last clicked or opened. 


<h2>Selecting residues</h2>


<br><br><b>By mouse click: </b>
Click an atom in 3D. As a result, the entire amino acid is selected. 
The selected residues are listed next to the black menu-bar.
In addition, the default tool-bar is replaced by the 3D-toolbar. It contains buttons to set the alignment cursor position and
to select the amino acid in the alignment view.

<br><br><b>With Cursor keys: </b>
If a single amino acid is selected,  the Cursor-Left or Cursor-Right keys, move the selection one position towards the C- or N-terminus.  
With the shift key the selection is not moved but extended. 
This is analogous to text editors like MS-Word.

<br><br><b>From the alignment panel: </b> 
Select amino acids in the alignment panel by dragging the mouse or with shift+Cursor-Right or -Left.
This also changes the selection in 3D.

<br><br><b>Drag and Drop: </b>

Take a residue selection of the alignment panel with the mouse and drop it in the 3D-view.
The residues of the residue selection will be selected in 3D. Annotated residue selections can carry
3D-style commands. How annotations are attached to residue selections is described in the introduction tutorial.


<h2>Changing the style</h2>

Select amino acids in 3D and change their display style. Use the menu
"On" in the menu "Style" and chose "Spheres on".

The respective atoms are shown as balls.

To remove the balls, use the menu "Off". 

<br><br><b>Undocking menu items:</b> Assume, the menu item "Spheres on" is used many times.
In this case it is more efficient to drag the menu item with the mouse to the desktop. 
You can use the undocked menu item not only to switch on spheres but also to switch it off:
Hold shift while clicking.

<h2>Selecting atoms</h2>

Above selection methods select entire amino acids.

To select specific atoms like the C-alpha atom, you need to activate "Select atom types" from the selection menu.
An input mask with rows appears. Each row has a text field and an "Apply" button.
Type ".CA" and click "Apply".
As a result only the C-alpha atoms of the currently selected amino acids are selected.


<h2>More than two protein chains</h2>

Select two proteins in the alignment panel. Multi-item selection
generally works by clicking one item and another item with the ctrl or
shift key.

With the "3D" tool-button, a primitive 3D-view for both proteins is opened. 
You may want to superimpose both structures using the "Superimpose" menu.

<b>Drag'n drop:</b> Alternatively you can use drag'n drop.
Grab a protein which is not yet in the 3D view with the mouse and let go over the 3D-view.








